.idea/
*.iml
target/
build/
node_modules/
.idea
ssh/
*.tfvars
*.tfstate.backup
.terraform
*.tfstate
ssh_config
*.log
.DS_Store
*.zip
deployment_package/
fftechapp/node_modules/
ffcep/node_modules/
package-lock.json
